.text {
    color: #28a745;
    padding: 20px 20px 0px;
    font-weight: bold;
}

.head-text {
    padding: 0 10px 5px 20px;
    color: #28a745;
    font-size: 30px;
}

.main-text {
    padding: 0 10px 10px 10px;
    color: #28a745;
    font-size: 20px;
}
.login-body {
    background-image: url("./background.png");

}

.profile-body {
    background-image: url("./sport2.png");
    background-size: 100%;
    -webkit-background-size: 100%;
    background-attachment: fixed;
}

.body {
    background-size: 100%;
    -webkit-background-size: 100%;
    background-attachment: fixed;
}

.change-body {
    background-image: url("./back2.png");
    background-size: 100%;
    -webkit-background-size: 100%;
    background-attachment: fixed;
}

.profile-show-body {
    background-image: url("./sliderBack.png");
    background-size: 100%;
    -webkit-background-size: 100%;
    background-attachment: fixed;
}

.profile-change-body {
    background-image: url("./back.png");
    background-size: 100%;
    -webkit-background-size: 100%;
    background-attachment: fixed;
}

.comments-body {
    background-image: url("./comments.png");
    background-size: 100%;
    -webkit-background-size: 100%;
    background-attachment: fixed;
}

.trainer-body {
    background-image: url("./trainer.png");
    background-size: 100%;
    -webkit-background-size: 100%;
    background-attachment: fixed;
}

.login {
    margin-top: 100pt;
}

.background-form {
    background: white;
}

.text-form {
    color: #28a745;
}

.card {
    border-radius: 20px;
    border: #28a745 2px solid;
}

.card-profile {
    border-radius: 20px;
    border: #28a745 2px solid;
    padding: 20px 0px 10px;
    background-image: url("slider.png");
}

.button {
    width: 100%;
    /*margin-top: 500px;*/
    background-image: url("slider.png");
}

.table {
    border: #28a745 1px solid;
    color: #28a745;
    background-color: white;
}

.wrapper {
    width: 500px;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
}

.comment {
    border: 1px solid #666;
    margin: 10px;
    padding: 0;
    font-family: Tahoma;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #999;
    overflow: hidden;
}

.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}

/*.container::after {*/
    /*content: "";*/
    /*clear: both;*/
    /*display: table;*/
/*}*/

.container span {
    font-size: 20px;
    margin-right: 15px;
}

